[Unit]
#Description=ChatterBox service to Run on Startup.

[Service]
Type=simple
Environment="USER=chatter2"
Environment="HOME=/home/chatter2"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart="/home/chatter2/Chatterbox/start.sh"
Restart=no

[Install]
WantedBy=default.target
